:root {
    --accent-color: #1a1a1a;
    --interactive-bg-color: #3b3b3b;
    --secondary-text-color: #ccc;
    --text-color: #eee;
    --elements-bg-color: #232340;
    --elements-border-color: #1f1f2f;
    --nav-buttons-border-hovering: #3d3d56;
}

html,body {
    height: 100svh;
    margin: 0;
    padding: 0;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

.send-button {
    font-size: medium;
    color: var(--secondary-text-color);
    background-color: var(--interactive-bg-color);
    border: 1px solid #666;
    width: 250px;
    height: 30px;
}

.expression-settings {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
}

.operations-tip {
    font-size: larger;
}

.operation {
    font-size: medium;
    width: 10%;
}

.operation-div {
    display: flex;
    gap: 120px;
}
.expression-input {
    width: 280px;
    border-radius: 6px;
    margin-right: 150px;
    padding: 16px 32px;
    font-size: medium;
    background-color: var(--interactive-bg-color);
    border: 0px solid #fff;
}

.expression-input::placeholder {
    color: var(--secondary-text-color);
}

.panel-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 48px;

    background-color: var(--elements-bg-color);
    color: #000;
    border-left: 1px solid var(--elements-border-color);
    border-right: 1px solid var(--elements-border-color);

    text-decoration: none;

    transition: .15s ease-in-out;

    user-select: none;
}
.panel-button:hover {
    opacity: .9;
    font-size: 110%;
    border-left: 1px solid var(--nav-buttons-border-hovering);
    border-right: 1px solid var(--nav-buttons-border-hovering);
}

.nav {
    display: flex;
    justify-content: center;

    border: 100px;
}
.nav .text {
    color: var(--text-color);
    background-color: var(--elements-bg-color);
}

.header {
    display: flex;
    align-items: center;

    height: 50px;

    margin-bottom: 50px;

    background-color:var(--elements-bg-color);
}
.panel-button {
    padding: 16p 52px;
}
.logo {
    margin-right: 100px;
    margin-left: 2ch;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--accent-color);
}

.int-main {
    flex: 1 1 auto;
    margin-left: 2ch;
}

.footer {
    background-color: var(--elements-bg-color);
}

.footer-text {
    margin-left: 2ch;
}